* {
    text-align: center;
}

#logo {
    height: 100px;
    width: auto;
    text-align: left;
}
.carousel-item {
    width: 80%;
    height: 700px;
}

#my-carousel {
    padding-top: 20px;
    overflow: auto;
    /* height: auto; */
}

.scroll {
    width: auto;
    height: 500px;
    overflow-x: auto;
    overflow-y: visible;
}

h1 {
    padding-bottom: 20px;
}
.hidden {
    display: block !important;
    visibility: hidden;
    padding-bottom: 10px;
}

select {
    display: inline;
    align-items: left;
    width: 250px;
}

.map {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
} 
.map-container {
    width: 100%;
    height: 550px;
    border: 5px solid darkgoldenrod;
}