{% extends 'base.html' %}

{% block title%} Choose a District {% endblock %}

{% block content %}

<h2> You have chosen the {{ forest_name }}. </h2>

<form id='district-form' method='post' action ='/choose_district'>
    <fieldset id="district-fieldset">
        <legend>Choose a Ranger District</legend>
        <select name="district-choice" id="district-choice">
        {% for district, is_empty in district_list %}
            {% if is_empty %}
                <option value = '{{ district }}' disabled>{{ district }}</option>
            {% else %}
                <option value = '{{ district }}'>{{ district }}</option>
            {% endif %}
        {% endfor %}
        </select>
    </fieldset>
    <fieldset>
        <legend>Submit</legend>
        <input type='submit' value="Next">
    </fieldset>
</form>

{% endblock %}