{% extends 'base.html' %}

{% block title%} Choose a Distance {% endblock %}

{% block content %}

<h2> You have chosen the {{ trail_name }} trail. </h2>

<form id='distance-form' method='post' action ='/choose_distance'>
    <fieldset>
        <legend>Fire Range</legend>
        <label for="fire-distance"> How many miles from the trail do you want to check for fires?</label>
        <input type="text" name="fire-distance" id="fire-distance" placeholder="25">
    </fieldset>
    <fieldset>
        <legend>Submit</legend>
        <input type='submit' value="Next">
    </fieldset>
</form>

{% endblock %}
