{% extends 'base.html' %}

{% block title%} Choose a Forest {% endblock %}

{% block content %}

<h2> You have chosen the {{region_name}}. </h2>

<form id='forest-form' method='post' action ='/choose_forest'>
    <fieldset id="forest-fieldset">
        <legend>Choose a National Forest</legend>
        <select name="forest-choice" id="forest-choice">
        {% for forest in forests %}
            <option value = '{{ forest }}'>{{ forest }}</option>
        {% endfor %}
        </select>
    </fieldset>
    <fieldset>
        <legend>Submit</legend>
        <input type='submit' value="Next">
    </fieldset>
</form>

{% endblock %}