{% extends 'base.html' %}

{% block title%} Fire Tracker {% endblock %}

{% block scripts %} 
<link href="https://api.mapbox.com/mapbox-gl-js/v2.13.0/mapbox-gl.css" rel="stylesheet">
<script src="https://api.mapbox.com/mapbox-gl-js/v2.13.0/mapbox-gl.js"></script> 
{% endblock %}

{% block content %}

<form id='search-form' method='post' action ='/search'>
    <fieldset id="region-fieldset">
        <legend>Please pick a US Forest Service Region</legend>
        <select name="region-choice" id="region-choice">
            <option value="" disabled selected>Choose a Region</option>
        </select>
    </fieldset>
    <fieldset id="forest-fieldset" class="hidden">
        <legend>Choose a National Forest</legend>
        <select name="forest-choice" id="forest-choice">
            <option value="" disabled selected>Choose a National Forest</option>
        </select>
    </fieldset>
    <fieldset id="district-fieldset">
        <legend>Choose a Ranger District</legend>
        <select name="district-choice" id="district-choice">
            <option value="" disabled selected>Choose a Ranger District</option>
        </select>
    </fieldset>
    <fieldset id="trail-fieldset">
        <legend>Choose a Trail</legend>
        <select name="trail-choice" id="trail-choice">
            <option value="" disabled selected>Choose a Trail</option>
        </select>
    </fieldset>
    <fieldset>
        <legend>Trip date:</legend>

        <input type="date" id="trip-date" name="trip-start" min={{ today }} max={{next_year}} required pattern="\d{4}-\d{2}-\d{2}">
    </fieldset>

    <!-- <fieldset>
        <legend>Fire Range</legend>
        <label for="fire-distance"> How many miles from the trail do you want to check for fires?</label>
        <input type="text" name="fire-distance" id="fire-distance" placeholder="25">
    </fieldset>
    <fieldset>
        <legend>Search</legend>
        <input type='submit' value="Search">
    </fieldset> -->
</form>

<section id="all-the-maps">
    <section class="map">
        <div id="region-map" style="width: 500px; height: 500px"></div>
    </section>
    <section class="map">
        <div id="forest-map" style="width: 500px; height: 500px"></div>
    </section>
    <section class="map">
        <div id="district-map" style="width: 500px; height: 500px"></div>
    </section>
    <section class="map">
        <div id="trail-map" style="width: 500px; height: 500px"></div>
    </section>
    <section class="map">
        <div id="trail-and-fire-info"></div>
        <div id="trail-and-fire-map" style="width: 500px; height: 500px"></div>
    </section>

</section>

<section id="trail-info">

</section>
    
    
    
<script src="/static/js/main.js"></script> 
{% endblock %}