{% extends 'base.html' %}

{% block title%} Choose a Region {% endblock %}

{% block content %}

<form id='region-form' method='post' action ='/choose_distance'>
    <fieldset id="region-fieldset">
        <legend>Please pick a US Forest Service Region</legend>
        <select name="region-choice" id="region-choice">
            <option value="" disabled selected>Choose a Region</option>
        </select>
    </fieldset>
    <fieldset id="forest-fieldset" class="hidden">
        <legend>Choose a National Forest</legend>
        <select name="forest-choice" id="forest-choice">
            <option value="" disabled selected>Choose a National Forest</option>
        </select>
    </fieldset>
    <fieldset id="district-fieldset">
        <legend>Choose a Ranger District</legend>
        <select name="district-choice" id="district-choice">
            <option value="" disabled selected>Choose a Ranger District</option>
        </select>
    </fieldset>
    <fieldset id="trail-fieldset">
        <legend>Choose a Trail</legend>
        <select name="trail-choice" id="trail-choice">
            <option value="" disabled selected>Choose a Trail</option>
        </select>
    </fieldset>
    <fieldset>
        <legend>Fire Range</legend>
        <label for="fire-distance"> How many miles from the trail do you want to check for fires?</label>
        <input type="text" name="fire-distance" id="fire-distance" placeholder="25">
    </fieldset>
    <fieldset>
        <legend>Submit</legend>
        <input type='submit' value="Next">
    </fieldset>
</form>

<script src="/static/js/main.js"></script> 
{% endblock %}