{% extends 'base.html' %}

{% block title%} Map of Trail and Fire {% endblock %}

{% block scripts %} 
<link href="https://api.mapbox.com/mapbox-gl-js/v2.13.0/mapbox-gl.css" rel="stylesheet">
<script src="https://api.mapbox.com/mapbox-gl-js/v2.13.0/mapbox-gl.js"></script> 
{% endblock %}


{% block content %}

<section id="trail-fire-map">
<h1>Map!</h1>
<section class="map">
<div id="map" style="width: 500px; height: 500px"></div>
</section>
</section>



<script src="/static/js/main2.js"></script> 

  
{% endblock %}
