{% extends 'base.html' %}

{% block title%} Map of Trail and Fire {% endblock %}

{% block scripts %} 
<link href="https://api.mapbox.com/mapbox-gl-js/v2.13.0/mapbox-gl.css" rel="stylesheet">
<script src="https://api.mapbox.com/mapbox-gl-js/v2.13.0/mapbox-gl.js"></script> 
{% endblock %}


{% block content %}

<section id="trail-fire-info">
{% if fires %}
<h1> Fires near {{ trail_name }}:</h1> 
<ul>{% for fire in fires %}
    <li>{{ fire.fire_name }}</li>
    <li><a href='{{ fire.fire_url }}'/> Link to inciweb information on {{ fire.fire_name }}</a></li>
    {% endfor %}
</ul>
{% else %}
<p>There are no fires near {{ trail_name }}.</p>
{% endif %}
</section>

<section id="trail-fire-map">
<h1>Map of Trail and Fire</h1>
<section class="map">
<div id="map" style="width: 500px; height: 500px"></div>
</section>
</section>



<script src="/static/js/mapbox.js"></script> 

  
{% endblock %}
